Checks: >-
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  cppcoreguidelines-special-member-functions,
  modernize-*,
  performance-*,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-implicit-bool-conversion,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers
HeaderFilterRegex: '(.*/)?(src|tests)/'
ExcludeHeaderFilterRegex: '(.*/)?(third_party|[^/]*_autogen)/'
FormatStyle: none
WarningsAsErrors: ''
